AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION_NAME=us-east-1
BEDROCK_MODEL_ID=amazon.nova-pro-v1:0
BEDROCK_KB_ID=KODYLCVCD7
BEDROCK_KB_DATASOURCE_NAME=knowledge-base-quick-start-c6jl3-data-source
S3_BUCKET_NAME=regulatory-compliance-kb-docs
API_HOST=127.0.0.1
API_PORT=8000
